<div class="pet-fields">
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :color %>
  <%= form.text_field :color %>
  <%= link_to_remove_nested(form, undo_link_timeout: 400) do %>
    <span>
      <span>X</span>
    </span>
  <% end %>
</div>