  <div class="pet-fields">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :color %>
    <%= form.text_field :color %>
    <%= link_to_remove_nested(form) do %>
      <span>
        <span>X</span>
      </span>
    <% end %>

    <%= link_to_add_nested(form, :appointments, "#appointments_#{form.object.id}_idx_placeholder_") do %>
      <span><span>Add Appointment</span></span>
    <% end %>

    <h2>Appointments</h1>
    <div id="appointments_<%= form.object.id %>_idx_placeholder_">
      <%= form.fields_for :appointments do |app_f| %>
        <%= render 'appointment_fields', form: app_f %>
      <% end %>
    </div>
  </div>